* {
    margin: 0;
    padding: 0;
}

body, html, #main-app-container{
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url(../media/img/starry-sky-texture.avif);
    background-size: cover;
}

#main-app-container{
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.hidden-scene{
    opacity: 0;
}

.visible-scene{
    opacity: 1.0;
}

#gknd-logo-button-container{
    position: absolute;
    background-image: url(../media/img/gknd-logo.png);
    background-size: 110% 100%;
    background-color: rgba(0, 0, 0, 0);
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    border: 0;
    cursor: pointer;
    z-index: 10;
    transition: top 2.5s, left 2.5s, width 2.5s, height 2.5s, margin 2.5s;
}

.loading-screen-logo-container{
    width: 350px;
    height: 350px;
    top: 45%;
    left: 50%;
    margin: -175px 0 0 -175px;
}

.corner-logo-container{
    width: 75px;
    height: 75px;
    top: 10%;
    left: 7%;
    margin: -50px 0 0 -50px;
}

.corner-logo-container:hover{
    width: 120px;
    height: 120px;
}

#desktop-navigation-options-container{
    font-family: "Braah One", sans-serif;
    width: 315px;
    height: max(10%, 50px);
    z-index: 10;
    font-size: 42px;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 1.0);
    color: white;
    font-weight: 400;
    margin: 2% auto 0 auto;
}

#get-started-main-container{
    position: relative;
    font-family: "Braah One", sans-serif;
    width: 500px;
    height: 225px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 1.0);
    color: darkblue;
    margin: 10% auto 0 auto;
}

#create-anything-text-container{
    padding: 5% 0% 0% 0%;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

#get-started-description-container{
    width: 90%;
    margin: 10px auto 2% auto;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0px;
    text-transform: uppercase;
}

#current-media-type-container{
    display: inline;
}

.navigation-button-container{
    font-family: "Braah One", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    line-height: 42px;
    height: 42px;
    width: 30%;
    outline: none;
    cursor: pointer;
    color: white;
    border: 0;
    background-color: black;
    display: inline-block;
    margin: 0;
}

#public-apps-block-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.app-page-section-header-container{
    font-family: "Braah One", sans-serif;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin: 5% auto 2% auto;
    text-align: center;
}

#all-features-block-container{
    font-family: "Braah One", sans-serif;
    display: block;
    width: 90%;
    margin: 2% auto;
}

.tier-title-container{
    border-radius: 14px;
    text-align: center;
    border: 2px solid transparent;
    display: inline-flex;
    flex-shrink: 0;
    vertical-align: middle;
    position: relative;
    overflow: visible;
}

.tier-price-container{
    /*display: inline-block;*/
    width: auto;
    font-size: 40px;
    font-weight: 700;
}

.tier-price-addendum-container{
    /*display: inline-block;*/
    width: auto;
    font-size: 18px;
    font-weight: 300;
}

.inline-feature-item{
    display: inline;
    font-size: 18px;
}

.get-tier-access-button-container{
    font-family: "Braah One", sans-serif;
    width: 90%;
    height: 50px;
    line-height: 60px;
    border: 0;
    border-radius: 14px;
    display: block;
    margin: 2% auto;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    background-color: #782dc8;
    color: white;
    outline: none;
    cursor: pointer;
}

.most-popular-tier-highlight{
    color: #782dc8;
    background-color: white;
}

#avatar-sam-container, #avatar-sam-1-container{
    position: relative; /*absolute;*/
    width: 350px;
    height: 400px;
    background-image: url(../media/img/biden-head-2.png);
    background-size: 140% auto;
    background-repeat: no-repeat;
    background-position: center center;
    /*right: -260px;
    top: -125px;
    top: 10%;
    right: 50%;
    margin-right: calc(150px - 50%);*/
    cursor: pointer;
    margin: 0 auto;
}

#ai-loader-container, #ai-loader-1-container{
    position: absolute;
    width: 240px;
    height: 135px;
    bottom: 0;
    left: 50%;
    margin-left: -120px;
}

.stage-container{
    width: 450px;
    margin: 2% auto;
    font-family: "Braah One", sans-serif;
    text-align: center;
    position: relative;
}

#stage-1-container, #stage-2-container{
    min-height: 400px;
}

#profile-button-container{
    position: absolute;
    display: block;
    right: 4%;
    top: 3%;
    z-index: 100;
    border: 1px white solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 0;
    cursor: pointer;
    outline: none;
    background-image: url(../media/img/profile-icon-white.png);
    background-color: rgba(255, 255, 255, 0);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    transition: background-image 0.25s, background-color 0.25s, width 0.25s, height 0.25s;
}

#profile-button-container:hover{
    background-image: url(../media/img/profile-icon.png);
    background-color: rgba(255, 255, 255, 1.0);
    width: 60px;
    height: 60px;
}

#enter-avatar-sam-message-container{
    font-family: "Braah One", sans-serif;
    width: 25em;
    height: 12em;
    padding: 2em;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    color: black;
    background-color: rgba(255, 255, 255, 1.0);
}

#enter-avatar-sam-message-container:focus{
    background-color: rgba(255, 255, 255, 0);
    border: 2px white solid;
    color: white;
}

#download-button-container{
    display: block;
    text-transform: uppercase;
    width: 250px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    color: white;
    text-align: center;
    outline: none;
    cursor: pointer;
    background-color: #782dc8;
    box-shadow: none;
    transition: box-shadow 0.25s, border 0.25s;
    position: absolute;
    left: 50%;
    margin-left: -125px;
    bottom: 20px;
}

#download-button-container:hover{
    border: 2px white solid;
    box-shadow: 3px 3px white;
}

.gknd-title-container{
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    line-height: 50px;
    height: 50px;
    width: 100%;
}

.select-avatar-button-container{
    width: 75px;
    height: 75px;
    border: 2px white solid;
    border-radius: 50%;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    position: absolute;
    z-index: 100;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.25s, color 0.25s;
}

.select-avatar-button-container:hover{
    background-color: rgba(255, 255, 255, 1.0);
    color: black;
}

#previous-avatar-button-container{
    left: 10px;
    top: 50%;
}

#next-avatar-button-container{
    right: 10px;
    top: 50%;
}

#success-container{
    background-color: rgba(255, 255, 255, 1.0);
    width: 305px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 101;
    border-radius: 10px;
    margin: -175px 0 0 -153px;
    display: none;
}

#success-icon-container{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    position: relative;
    margin: 1% auto;
    background-image: url(../media/img/success-icon.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#success-label-container{
    position: relative;
    margin: 0 auto;
    font-family: "Braah One", sans-serif;
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    color: black;
}

#footer-container{
    position: relative;
    margin-top: 50px;
}

@media only screen and (max-width: 640px){

    .gknd-title-container{
        margin-top: 12%
    }

    .app-page-section-header-container{
        margin: 1% auto 2% auto;
    }

    .stage-container{
        width: 350px;
    }

    #avatar-sam-container{
        position: relative;
        width: 300px;
        height: 342px;
        background-image: url(../media/img/biden-head-2.png);
        background-size: 140% auto;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        margin: 0 auto;
    }

    #desktop-navigation-options-container{
        font-family: "Braah One", sans-serif;
        width: 315px;
        height: 10%;
        font-size: 24px;
    }

    #gknd-logo-button-container{
        background-color: rgba(0, 0, 0, 0);
    }

    .corner-logo-container{
        width: 65px;
        height: 65px;
        top: 5%;
        left: 50%;
        margin: 0;
        margin-left: -33px;
    }

    .corner-logo-container:hover{
        width: 70px;
        height: 70px;
    }

    #trending-list-title-container {
        text-align: center;
    }

    #enter-avatar-sam-message-container{
        width: 15em;
        height: 10em;
    }
}
