* {
    margin: 0;
    padding: 0;
}

body, html{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #000099 0%, #fffc7f 100%);
    color: black;
}

#main-app-container{

    width: 400px;
    height: auto;
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: -200px;
}

#album-cover-container{
    background-image: url(../media/img/IMSAIAN.png);
    background-size: cover;
    width: 325px;
    height: 325px;
    margin: 0 auto 12px auto;
    display: block;
    cursor: pointer;
    position: relative;
}

#feature-block-container{
    width: 275px;
    margin: 25px auto 0 auto;
    font-size: 14px;
    line-height: 22px;
    font-family: Arial, sans-serif;
}

.publication-title-container{
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 24px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
}

#play-album-button-container, #download-album-button-container{
    display: block;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    margin: 2% auto;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    background-color: white;
    color: black;
    transition: background-color 0.25s, color 0.25s;
}

#play-album-button-container:hover{
    color: blue;
    background-color: aquamarine;
}

#download-album-button-container:hover{
    color: white;
    background-color: red;
}


.artist-link-container:link, .artist-link-container:visited{
    color: blue;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 1px;
}

.artist-link-container:hover{
    font-weight: 700;
    letter-spacing: 2px;
}

.artist-link-container:active{
    color: red;
}

#gknd-logo-button-container{
    position: absolute;
    background-image: url(../media/img/gknd-logo.png);
    background-size: 110% 100%;
    background-color: rgba(0, 0, 0, 0);
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    border: 0;
    cursor: pointer;
    z-index: 10;
    transition: top 2.5s, left 2.5s, width 2.5s, height 2.5s, margin 2.5s;
}

.return-home-button-container{
    width: 65px;
    height: 65px;
    top: 3%;
    left: 3%;
}

#profile-button-container{
    position: absolute;
    display: block;
    right: 4%;
    top: 3%;
    z-index: 100;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 0;
    cursor: pointer;
    outline: none;
    background-image: url(../media/img/profile-icon-white.png);
    background-color: rgba(255, 255, 255, 0);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    transition: background-image 0.25s, background-color 0.25s, width 0.25s, height 0.25s;
}

#profile-button-container:hover{
    background-image: url(../media/img/profile-icon.png);
    background-color: rgba(255, 255, 255, 1.0);
    width: 60px;
    height: 60px;
}

@media only screen and (max-width: 640px){
    .return-home-button-container{
        width: 35px;
        height: 35px;
        top: 3%;
        left: 50%;
        margin-left: -18px;
    }

     #main-app-container{
        width: 100%;
        height: auto;
        position: absolute;
        top: 5%;
        left: 0;
        margin-left: 0px;
    }

    #album-cover-container{
        width: 305px;
        height: 305px;
        margin: 10% auto 5% auto;
    }
}