@font-face{
    font-family:"AuraRegular W05 Regular";
    src: url("../css/Fonts/d83d08da-5e79-48df-a9b1-6f5acf78cb00.eot?#iefix");
    src: url("../css/Fonts/d83d08da-5e79-48df-a9b1-6f5acf78cb00.eot?#iefix") format("eot"),url("../css/Fonts/92d5ad9f-b979-4d9b-8608-e7bef993c281.woff2") format("woff2"),url("../css/Fonts/48665d19-aff2-4022-aa29-5f4afa40c8af.woff") format("woff"),url("../css/Fonts/27cf9724-1c32-4032-b145-f082ef3ddb21.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'AuraRegular W05 Regular', Fallback, sans-serif;
}

body, html{
    width: 100%;
    height: 100%;
    text-transform: lowercase;
    background-color: black;
}

#screen-container{
    color: white;
    background-color: black;
    position: absolute;
    width: 500px;
    height: 350px;
    top: 50%;
    left: 50%;
    margin: -175px 0 0 -250px;
    text-align: center;
}
/*animation: name duration timing-function delay iteration-count direction fill-mode play-state*/

.typewriter{ /* now loading */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 0.25s steps(10, end),
    blink-caret .25s step-end 0s 8, /*infinite*/
    hide-caret .25s step-end 1s infinite;
}

.typewriter-1{  /* house of venus mission */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
      typingone 0.5s steps(10, end) 1s,
      blink-caret .25s step-end 1s 4, /*infinite*/
      hide-caret .25s step-end 2s infinite;
}

.typewriter-2{  /*  operation: */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
      typingtwo 0.5s steps(15, end) 2s,
      blink-caret .25s step-end 2s 5, /*infinite*/
      hide-caret .25s step-end 3.25s infinite;
}

.typewriter-3{  /* s.w.e.e.p.   */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typingthree 1s steps(15, end) 3.25s,
    blink-caret .25s step-end 3.25s 20; /*infinite*/
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 230px }
}

@keyframes typingone {
  from { width: 0 }
  to { width: 375px }
}

@keyframes typingtwo {
  from { width: 0 }
  to { width: 160px }
}

@keyframes typingthree {
  from { width: 0 }
  to { width: 290px }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent; border-width: 0px; }
  50% { border-color: white; border-width: 15px; }
}

@keyframes hide-caret {
    from {border-right: 0}
    to { border-right: 0; }
}

.acrostic-header{
    height: 30px;
    display: inline;
    text-align: 'left';
    vertical-align: top;
    line-height: 30px;
}

.acrostic-reveal{
    display: none;
}

#premier-reveal{    /*  see */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
        premier-ar 0.5s steps(4, end),
        blink-caret .125s step-end 8,
        hide-caret .25s step-end 0.5s infinite;
}

#deuxieme-reveal{   /* where */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
        deuxieme-ar 0.5s steps(25, end),
        blink-caret .125s step-end 8,
        hide-caret .25s step-end 0.5s infinite;
}

#troisieme-reveal{  /* evil */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
        troisieme-ar 0.5s steps(25, end),
        blink-caret .125s step-end 8,
        hide-caret .25s step-end 0.5s infinite;
}

#quatrieme-reveal{  /* eerily */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
        quatrieme-ar 0.5s steps(25, end),
        blink-caret .125s step-end 8,
        hide-caret .25s step-end 0.5s infinite;
}

#cinquieme-reveal{  /* passes */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
        cinquieme-ar 0.5s steps(25, end),
        blink-caret .125s step-end 16,
        hide-caret .25s step-end 9s infinite;
}

@keyframes premier-ar{ /* recreate */
    from { width: 0 }
    to { width: 140px }
}

@keyframes deuxieme-ar{ /* universal */
    from { width: 0 }
    to { width: 140px }
}

@keyframes troisieme-ar{ /* by */
    from { width: 0 }
    to { width: 40px }
}

@keyframes quatrieme-ar{    /* integrating */
    from { width: 0 }
    to { width: 170px }
}

@keyframes cinquieme-ar{    /* nodes */
    from { width: 0 }
    to { width: 90px }
}

.acrostic-letter{
    height: 30px;
    line-height: 30px;
}
